body{
  font-size: 16px;
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.container-fluid{
  padding: 0px;
}
#main{
  width: 100%;
}
#topHeader{
  background-color: black;
  min-height: 40px;
}
#header-links{
  float: right;
  right: 10%;
}
#social-links{
  left: 10%;
  position: relative;
  cursor: pointer;
}
#contact-info{
  right: 10%;
  position: relative;
  float: right;
  /*margin-top: 10px;*/
  cursor: pointer;
}
#bottomHeader{
  height: 80px;
  background-color: white;
}
.headerLink{
  margin-top: 25px;
}
#carftLance{
  left:10%;
  position: relative;
  margin-top: 25px;
}
#header-links{
  position: relative;
  float: right;
  right: 10%;
}
.header-links{
  display: inline;
  /*float: right;*/
  /*position: relative;*/
  /*right: 100px;*/

  margin-top: 20px;
}

#green{
  background-color: #4ca368;
  height: 870px;
  text-align: center;
}
#bigData{
  position: relative;
  top: 108px;
}
#blueLance{
  position: relative;
  top: 135px;
}
#screen{
  position: relative;
  top: 180px;
}
#finePrint{
  position: absolute;
  bottom: 70px;
}
#email-form{
  margin-left: -270px;
}
#emailInput, #submitButton{
  position: absolute;
  bottom: 100px;
}
#emailInput{
  background-color: white;
  padding: 7px;
  border-radius: 20px;
  border: 1px solid #37804e;
  color: d3d3d3;
  width: 290px;
}
#submitButton{
  margin-left: 208px;
  cursor: pointer;
}
#community{
  background-color: #ececec;
  height: 660px;
  text-align: center;
}
#communityStuff{
  position: relative;
  top: 100px;
}
#servicePackage{
  background-color: #ffffff;
  height: 770px;
  text-align: center;
}
#packageStuff{
  position: relative;
  top: 100px;
}
#packages{
  position: relative;
}
#business-or-community-button{
  position: relative;
  margin-top: -475px !important;
}
#business-edition{
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
  padding-left: 15px;
  padding-right: 25px;
  border-right: 0px solid white;
}
.edition:hover{
  background-color: #5db442;
  color: white;
}
.edition{
  padding: 8px;
  color: black;
  text-decoration: none !important;
}
#community-edition{
  padding-left: 10px;
  padding-right: 10px;
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
}
#or{
  position: absolute;
  margin-left: -12px;
}
#purchaseButton1, #purchaseButton2, #purchaseButton3{

}
#purchase-wrapper{
  position: relative;
  top: 389px;
  margin-right: 195px;
}
.purchase-button{
  padding: 10px;
  display: inline;
  cursor: pointer;
  margin-left: 195px;
  border: 1px solid #ececec;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 2em;
}
.purchase-button:hover{
  background-color: #5db442;
  color: white;
}
#dataIntegration{
  background-color: #f5f5f5;
  height: 1020px;
  text-align: center;
}
#footer{
  background-color: #efefef;
  height: 460px;
  text-align: center;
}
#greyBar{
  width: 100%;
  background-color: #e1e2e3;
  height: 2px;
  position: absolute;
  bottom: 125px;
  left: 0px;
}

